@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exam Guide 70533 Start web app</h1>
    <p class="lead">Our officiel GitHub Repository is : https://github.com/PacktPublishing/Implementing-Microsoft-Azure-Infrastructure-Solutions-Exam-Guide-70-533</p>
    <p>Implementing Microsoft Azure Infrastructure Solutions: Exam Guide 70-533 Published by Packt Publishing</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

